body {
    margin: 0;
    font-family: 'Finlandica', sans-serif;
    font-family: 'Gantari', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.header-section {
    width: 100%;
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.head {
    text-align: center;
    padding: 100px 0px;
}

h1 {
    font-size: 45px;
    color: white;
    margin: 0;
}

.header-section p {
    font-size: 18px;
    color: white;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    padding: 20px 25px;
    background-color: #FF5959;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.donate-section {
    width: 60%;
    margin: auto;
}

.donate {
    text-align: center;
    margin: 40px 0px;
}

#color-money {
    background-color: #FDEFF0;
    border: 2px solid red;
}

.money {
    width: 15%;
    background-color: #f1efed;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 50px;
    padding: 5px 10px;
}

h2 {
    font-size: 35px;
}

p {
    margin: 0;
    color: #6F706F;
    text-align: center;
}

h3 {
    font-weight: bold;
}

.amount {
    text-align: center;
}

.amount span {
    width: 100%;
    height: 3px;
    background-color: #B3B3B3;
    display: block;
}

h5 {
    color: #B3B3B3;
    font-size: 20px;
    margin: 0;
}

.button {
    text-align: center;
    margin: 50px 0px;
}

.button a {}

.donate-plan-section {
    width: 80%;
    margin: auto auto 50px auto;
}

.our-plan {
    text-align: center;
    width: 60%;
    margin: 100px auto 40px auto;
}

.family {
    width: 28%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

.family img {
    margin-top: 30px;
}

.family h4 {}

.family p {
    text-align: left;
    margin-bottom: 20px;
}

#food {
    background-color: #EDF5F6;
}

#selter {
    background-color: #FFEEEE;
}

#education {
    background-color: #FFF4D6;
}

.self-make {
    width: 80%;
    margin: auto;
}

.self-make h4 {
    font-size: 20px;
    margin-bottom: 0;
}

.service {
    width: 26%;
    margin: auto;
}

.news {
    width: 50%;
    margin: 0;
}

nav {}

ul {}

li {
    color: #6f7074;
}